body {
    margin: 0;
}
.title {
    font-family: 'Lato', sans-serif;
    color: #2d3950;
    font-size: 41px;
    margin: 60px 0 0 0;
    text-align: center;
    min-width: 550px;
}
.header_text {
    font-family: 'Lato', sans-serif;
    color: #909090;
    font-size: 15px;
    margin: 20px 0 0 0;
    text-align: center;
}
.portfolio {
    margin-top: 50px;
    text-align-last: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}
.pf_bg {
    display: inline-block;
    position: relative;
    height: 260px;
    width: 360px;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;

}
.pf_img {
    position: absolute;
    top: 0;
    left: 0;
}
.background {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}
.pf_bg:hover > .background {
    display: block;
    background-color: rgba(37,166,247,0.9);
    height: 260px;
    width: 360px;
}
.background > button {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-color: rgba(37,166,247,0.9);
    background-size: 15px;
    background-position: center;
    border-radius: 5px;
    border: solid white 2px;
    margin: 108px 0;
}
.zoom {
    background-image: url("images/zoom.PNG");
}
.share {
    background-image: url("images/share.PNG")
}
.preview {
    display: none;
    position: absolute;
    background-color: rgba(254,254,254,0.9);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
.pr_img {
    display: inline-block;
    width: 100%;
    max-width: 1140px;
    min-width: 360px;
    vertical-align: middle;
}
.preview::after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}


