@import "../partials/_variables";
@import "../partials/_mixins";

.contacts {
    position: relative;
    width: @view-port;
    .flex-r;
    align-items: center;
    background-color: darken(@color-bg, 30%);


    align-self: center;
    .flex-c;

    &__title {
        .section-title;
    }

    &__text {
        .clear;
        .section-text;
        margin-bottom: 5px;
    }

    &__wrapper {
        .flex-r;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        width: @width-main;
        max-width: @max-width;
        margin-bottom: 20px;
        @media @mobile {
            .flex-c;
            width: @view-port;
        }
    }

    &__column {
        width: 30%;
        .flex-c;
        align-items: center;
        @media @mobile {
            width: @view-port;
        }
    }

    &__name {
        font-size: 27px;
        color: @txt-color-main;
    }

    &__phone-number,
    &__email {
        color: @txt-color-main;
        .clear;
        display: block;
        .section-text;
        margin-bottom: 5px;
        text-decoration: underline;
    }
    &__map {
        width: @view-port;
        max-width: 2000px;
        margin-bottom: 20px;
    }

    &__links {
        width: @width-main;
        max-width: @max-width;
        .flex-r;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &__made-by {
        color: @txt-color-main;
    }
}
