@import "../partials/_variables";
@import "../partials/_mixins";

.equipment {
    width: @view-port;

    background-image: url("./../img/main-bg.jpg");
    background-color: #95a3ba;
    background-size: @view-port;
    background-repeat: no-repeat;


    &__bg-filter {
        background-color: @color-bg;
        width: @view-port;
        .center;
    }

    &__wrapper {
        position: relative;
        width: @width-main;
        max-width: @max-width;
        .flex-c;
    }

    &__title {
        .section-title;
    }

    &__text {
        .clear;
        .section-text;
    }
}
