@import "../partials/_variables";
@import "../partials/_mixins";

.main-page {
    width: @view-port;
    .clear;
    .flex-c;

    font-family: @font-main;

    &__header {
        width: @view-port;
    }

    &__section {
    }
}
