@import "../partials/_variables";
@import "../partials/_mixins";

.page-header {


    &__bg-filter {
        .flex-c;
        position: relative;
        background-color: @color-bg;
    }

    &__contacts {
        .clear;
        position: absolute;
        top: 15px;
        right: 20%;

        font-weight: 600;
    }

    &__wrapper {
        .center;
        padding-top: 70px;
        margin-bottom: 20px;
        background-color: darken(@color-bg, 30%);
    }

    &__inner {
        width: 60%;
        max-width: 1500px;
        .flex-r;
        justify-content: space-between;
    }

    &__logo {
        .center;
        margin-bottom: 5px;
    }

    &__navigation {
        width: 70%;
    }
}
