@import "../partials/_variables";
@import "../partials/_mixins";

.page-header {
    background-image: url("./../img/main-bg.jpg");
    background-color: #95a3ba;
    background-size: @view-port;
    background-repeat: no-repeat;

    width: @view-port;

    @media @mobile {
        background-image: none;
    }


    &__bg-filter {
        .flex-c;
        position: relative;
        background-color: @color-bg;

    }

    &__contacts {
        .clear;
        position: absolute;
        top: -60px;
        right: 0;
        font-weight: 600;
        @media @mobile {
            top: 10px;
        }
    }

    &__phone-number {

    }

    &__phone-link {
        .clear;
        text-decoration: underline;
        color: @txt-color-menu;
        line-height: 1.5;
    }

    &__wrapper {
        .center;
        padding-top: 70px;
        margin-bottom: 20px;
        background-color: darken(@color-bg, 30%);

    }

    &__inner {
        width: @width-main;
        max-width: @max-width;
        position: relative;
        .flex-r;
        justify-content: space-between;
    }

    &__logo {
        .center;
        margin-bottom: 5px;
    }

    &__navigation {
        width: 70%;

        @media @mobile {
            position: absolute;
            width: auto;
            top: -55px;
            right: 0;
        }
    }
}
