@import "../partials/_variables";
@import "../partials/_mixins";

.services {
    .flex-c;
    position: relative;
    width: @width-main;
    max-width: @max-width;
    align-self: center;
    background-color: lighten(@color-bg, 30%);

    padding: 0 10px 20px 10px;
    border-radius: 100px;

    @media @mobile {
        width: @view-port;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
    }

    &__title {
        .section-title;
    }

    &__gallery {
        position: relative;
    }

    &__gallery--first {
        margin-bottom: 20px;
    }
}
